[Desktop Entry]
Type=Service
MimeType=image/jpeg;image/png;image/webp;image/bmp;
Actions=setMatugenWallpaper;
X-KDE-Submenu=Personalization
X-KDE-ServiceTypes=KonqPopupMenu/Plugin

[Desktop Action setMatugenWallpaper]
Name=Set wallpaper with Matugen
Icon=background

Exec=bash ~/.local/bin/switch_rice.sh %f
